<div id="exercises" class="min-h-full flex flex-col justify-top gap-6" data-controller="pagination" data-pagination-loading-message-value="Just a moment..." data-pagination-loading-class="button--loading">
  <div id="navbar" class="navbar">
    <div class="navbar__item navbar__item--small">
      <%= link_to back_chevron(class: "size-6"), root_path, class: "button button--round" %>
    </div>
    <div class="navbar__item navbar__item--logo">
      <%= logo(size: :small) %>
    </div>
    <div class="navbar__item navbar__item--small"></div>
  </div>

  <div class="flex flex-row justify-between gap-6">
    <%= form_for :search, url: exercises_path, method: :get, class: "flex-grow" do |f| %>
      <%= f.text_field :query,
        value: params.dig(:search, :query),
        placeholder: "Search",
        class: "input" %>
    <% end %>
    <% if authenticated? %>
      <div id="actions" class="flex flex-row gap-2 flex-shrink-0">
        <%= link_to "Create Exercise", new_exercise_path, class: "button" %>
      </div>
    <% end %>
  </div>

  <div id="exercises-list" class="flex flex-col" data-pagination-target="list">
    <% if @page.empty? %>
      <div class="text-center">There is no such exercise</div>
    <% else %>
      <%= render @page.records %>
    <% end %>
  </div>

  <div id="pagination" class="flex justify-center">
    <% unless @page.last? || @page.only? %>
      <%= link_to "Show more",
        exercises_path(page: @page.next_param),
        class: "button",
        data: {
          turbo_prefetch: false,
          pagination_target: "nextPageLink",
          action: "pagination#loadNextPage"
        } %>
    <% end %>
  </div>

  <%= footer %>
</div>
